* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/beijing2.jpg);
  height: 100vh;
}

.zhuy {
  box-shadow: 0 0 0 9999em rgb(99, 104, 128);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  width: 90vh;
  height: 90vh;
}

.zhuy div{
  padding: 10px;
}

.zhuy:hover {
  transition: all 1s ease-out;
  transform: scale(0.9);
}

/* .biaot:hover {
  transition: all 1s ease-out;
  transform: scale(1.1);
} */

.biaot {
  text-align: center;
  color: #60667E;
  font-size: 3vh;
  font-weight: bold;
}

.biaot_xiaobiaot {
  color: #60667E;
  font-size: 3vh;
  font-weight: bold;
}

#snowCanvas {
  position: fixed;
  /* Fixed positioning to cover entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Put canvas behind other content */
}

/* 媒体查询，当视口宽度小于600px时应用 */
@media (max-width: 1000px) {

  .zhuy {
    width: 20rem;
    height: 20rem;
  }

  .zhuy:hover {
    transition: all 1s ease-out;
    transform: scale(0.9);
  }

  .biaot {
    color: #60667E;
    font-size: 1em;
    font-weight: bold;
  }

  .biaot_xiaobiaot {
    color: #60667E;
    font-size: 12px;
    font-weight: bold;
  }
  

}